/* 
  Andie Green-Harrison
  10125163 
  SENG 513 Winter 2019
  Lab B02 
*/
body {
	min-width: 300;
}

/* Format buttons */
button {
	height: 90px;
	width: 90px;
	margin: 5px;
	border: solid white 2px !important;
	background-color: pink;
}

.btn-default {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
}

/* Make clear button wider than other buttons */
#clear {
	width: 190px;
}

/* Format the background of the calculator */
.background {
  max-width: 600px;
  height: 650px;
  margin: auto;
  background-color: grey;
  border-radius: 10px;
  padding-bottom: 25px;
  padding-top: 15px;
}

/* Format the screen that displays button presses */
#screenText {
	height: 70px;
	width: 400px;
	border-radius: 10px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	background: white;  
	text-align: right;
	font-size: 20px bold;
	line-height: 55px; 
}

/* Set max width for columns */
#col-md-12 {
	max-width: 600px;
}

/* Set max width for rows */
#row {
	max-width: 600px;
}

/* Format the answer that shows above the screen */
#answer {
	margin: auto;
	padding: 0px;
	height: 25px;
	width: 400px;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}

/* Modify sizes and proportions of elements on smaller screens */
@media screen and (max-width: 600px) {
	button {
		height: 70px;
		width: 20%;
		margin: 2px;
	}
	#clear {
		height: 70px;
		width: 42%;
	}
	.btn-default {
		font-size: 2.3em;
	}
	.background {
		width: 100%;
		height: 100%;
	}
	#screenText {
		width: 90%;
	}
	#answer {
		width: 80%;
	}
}