/* 
  Andie Green-Harrison
  10125163 
  SENG 513 Winter 2019
  Lab B02 
*/
body {
}
input{
	border: none;
	background-color: white;
}
button {
	height: 90px;
	width: 90px;
	margin: 5px;
	border: solid white 2px !important;
	background-color: pink;
}

.btn-default {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
}

*:focus {
    outline: 0 !important;
}

#clear {
	width: 190px;
}

.calcBG {
  width: 600px;
  height: 650px;
  background-color: grey;
  border-radius: 10px;
  padding: 35px;
  margin: auto;
}
.screen {
	height: 80px;
	width: 400px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 2px;
	font-size: 16px;
	font-weight: bold;
	background: white;
         
}
small {
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 675px) {
	button {
		height: 70px;
		width: 20%;
		margin: 2px;
	}
	#clear {
		height: 70px;
		width: 43%;
	}
	.btn-default {
		font-size: 2.3em;
	}
	.calcBG {
		width: 100%;
		padding: 10px;
	}
	.screen {
		width: 90%;
	}
}



